.houses {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;

  @media only screen and (max-width: $bp-small) {
    margin: 7rem 0;
  }

}

.house {
  background-color: $color-grey-light-1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
  }

  &__like {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    margin: 1rem;
  }

  &__name {
    grid-column: 1 / -1;
    justify-self: center;
    width: 80%;
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    justify-self: center;
    align-self: center;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    svg {
      height: 2rem;
      width: 2rem;
      fill: $color-primary;
      margin-right: 1rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}
